@page "/users/edit"
@inject IStringLocalizer<EditUser> localizer
@inject Mutations graphQLMutations
@inject NavigationManager navManager


@code {
    private string Firstname { get; set; }
    private string Lastname { get; set; }
    private string PhoneNumber { get; set; }
    private string Email { get; set; }
    private string Password { get; set; }

    public void CreateUser()
    {
        graphQLMutations.RunInsertUser(new InsertUserArgs
        {
            first_name = Firstname,
            last_name = Lastname,
            email = Email,
            phone_number = PhoneNumber,
            password = Password
        });
        navManager.NavigateTo("/users/edit");
    }

}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-toolbar">
                        <h2 class="subheader-title text-dark font-weight-bold my-1 mr-3">@localizer["Edit user"]</h2>
                    </div>
                </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>@localizer["First name"]</label>
                            <input type="text" class="form-control" placeholder="@localizer["Enter first name of user"]" @bind="Firstname" @bind:event="onchange" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Last name"]</label>
                            <input type="text" class="form-control" placeholder="@localizer["Enter last name of user"]" @bind="Lastname" @bind:event="onchange" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Phone number"]</label>
                            <input type="text" class="form-control" placeholder="@localizer["Enter phone number of user"]" @bind="PhoneNumber" @bind:event="onchange" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Email address"]</label>
                            <input type="email" class="form-control" placeholder="@localizer["Enter email"]" @bind="Email" @bind:event="onchange" />
                            <span class="form-text text-muted">@localizer["We'll never share your email with anyone else."]</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">@localizer["Password"]</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="@localizer["Password"]" @bind="Password" @bind:event="onchange" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button @onclick="CreateUser" class="btn btn-primary mr-2">@localizer["Submit"]</button>
                        <button type="reset" class="btn btn-secondary">@localizer["Cancel"]</button>
                    </div>
                <!--end::Form-->
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>
<!--end::Container-->