@inject IStringLocalizer<Login> localizer
@inject IJSRuntime JS

@code {
}

<!--begin::Login Header-->
<div class="d-flex flex-center mb-15">
    <a href="#">
        <img src="assets/media/logos/logo-letter-9.png" class="max-h-100px" alt="" />
    </a>
</div>
<!--end::Login Header-->
<!--begin::Login Sign in form-->
<div class="login-signin">
    <div class="mb-20">
        <h3>@localizer["Sign in"]</h3>
        <p class="opacity-60 font-weight-bold">@localizer["Please enter account details to log in in control panel"]</p>
    </div>
    <form class="form" id="kt_login_signin_form">
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="text" placeholder=@localizer["Email"] name="username" autocomplete="off" />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="password" placeholder=@localizer["Password"] name="password" />
        </div>
        <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
            <div class="checkbox-inline">
                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                    <input type="checkbox" name="remember" />
                    <span></span>@localizer["Remember me"]
                </label>
            </div>
            <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">@localizer["Forget Password ?"]</a>
        </div>
        <div class="form-group text-center mt-10">
            <button id="kt_login_signin_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">@localizer["Sign In"]</button>
        </div>
    </form>
    <div class="mt-10">
        <span class="opacity-70 mr-4">@localizer["Don't have an account yet?"]</span>
        <a href="javascript:;" id="kt_login_signup" class="text-white font-weight-bold">@localizer["Sign Up"]</a>
    </div>
</div>
<!--end::Login Sign in form-->