@inject IStringLocalizer<SecondaryAsideMenu> localizer


<!--begin::Secondary-->
<div class="aside-secondary d-flex flex-row-fluid">
    <!--begin::Workspace-->
    <div class="aside-workspace scroll scroll-push my-2">
        <!--begin::Tab Content-->
        <div class="tab-content">
            <!--begin::Tab Pane-->
            <div class="tab-pane p-3 px-lg-7 py-lg-5 fade show active" id="kt_aside_tab_1">
                <!--begin::Form-->
                <form class="p-2 p-lg-3">
                    <div class="d-flex">
                        <div class="input-icon h-40px">
                            <input type="text" class="form-control form-control-lg form-control-solid h-40px" placeholder="@localizer["Search an user"]..." id="generalSearch" />
                            <span>
                                <span class="svg-icon svg-icon-lg">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
                <h3 class="p-2 p-lg-3 my-1 my-lg-3">@localizer["Apps"]</h3>
                <!--begin::List-->
                <div class="list list-hover">
                    <!--begin::Item-->
                    <div class="list-item hoverable p-2 p-lg-3 mb-2">
                        <div class="d-flex align-items-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-40 symbol-light mr-4">
                                <span class="symbol-label bg-hover-white">
                                    <img src="assets/media/svg/misc/006-plurk.svg" class="h-50 align-self-center" />
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <span class="text-dark-75 font-size-h6 mb-0">@localizer["My products"]</span>
                            </div>
                            <!--begin::End-->
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="list-item hoverable p-2 p-lg-3 mb-2">
                        <div class="d-flex align-items-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-40 symbol-light mr-4">
                                <span class="symbol-label bg-hover-white">
                                    <img src="assets/media/svg/misc/010-vimeo.svg" class="h-50 align-self-center" />
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <span class="text-dark-75 font-size-h6 mb-0">@localizer["My services"]</span>
                            </div>
                            <!--begin::End-->
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="list-item hoverable p-2 p-lg-3 mb-2">
                        <div class="d-flex align-items-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-40 symbol-light mr-4">
                                <span class="symbol-label bg-hover-white">
                                    <img src="assets/media/svg/misc/014-kickstarter.svg" class="h-50 align-self-center" />
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <span class="text-dark-75 font-size-h6 mb-0">@localizer["My orders"]</span>
                            </div>
                            <!--begin::End-->
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="list-item hoverable p-2 p-lg-3 mb-2">
                        <div class="d-flex align-items-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-40 symbol-light mr-4">
                                <span class="symbol-label bg-hover-white">
                                    <img src="assets/media/svg/misc/009-hot-air-balloon.svg" class="h-50 align-self-center" />
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <span class="text-dark-75 font-size-h6 mb-0">@localizer["My reviews"]</span>
                            </div>
                            <!--begin::End-->
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="list-item hoverable p-2 p-lg-3 mb-2">
                        <div class="d-flex align-items-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-40 symbol-light mr-4">
                                <span class="symbol-label bg-hover-white">
                                    <img src="assets/media/svg/misc/008-infography.svg" class="h-50 align-self-center" />
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <span class="text-dark-75 font-size-h6 mb-0">@localizer["My tickets"]</span>
                            </div>
                            <!--begin::End-->
                        </div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="list-item hoverable p-2 p-lg-3 mb-2">
                        <div class="d-flex align-items-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-40 symbol-light mr-4">
                                <span class="symbol-label bg-hover-white">
                                    <img src="assets/media/svg/misc/007-disqus.svg" class="h-50 align-self-center" />
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <span class="text-dark-75 font-size-h6 mb-0">@localizer["Help"]</span>
                            </div>
                            <!--begin::End-->
                        </div>
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::List-->
            </div>
            <!--end::Tab Pane-->
        </div>
        <!--end::Tab Content-->
    </div>
    <!--end::Workspace-->
</div>
<!--end::Secondary-->